<html>
<head>
    <style type="text/css">
        .style1 {
            width: 50%;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
        function Button_onclick(direction) {
            $.ajax({
                url: '/' + direction
            });
        }
    </script>
	<title>All Integrated Camera For Thymio </title>
</head>
<style>
body
{
	background-image: url("background.png");
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 14px;
	color:#fff;
}
</style>
<body>
<table style="height: 100px; margin-left: auto; margin-right: auto;background-color: #000000;width: 100%" >
    <tbody>
        <tr>
            <td>
                <h1 style="text-align: center;"><span style="color: #CFCDCD;">All Integrated Camera For Thymio</span></h1>
            </td>
        </tr>
    </tbody>
</table>
<h2 style="text-align: left;">&nbsp;</h2>
<table style="height: 55px; margin-left: auto; margin-right: auto;width=100%" >
    <tbody>
        <tr>
            <td>
                <h2><span style="text-decoration: underline; color: #CFCDCD;">Control the Camera</span></h2>
            </td>
        </tr>
    </tbody>
</table>
<table style=" margin-left: auto; margin-right: auto; width:750px; height:400px"  >
    <tbody>
        <tr>
            <td < style="text-align: center;"><strong><span style="text-decoration: underline;">Live Video Feed</span></strong>
                <img src="http://0.0.0.0:8080/?action=stream" />
            </td>

            <td>
                <p><span style="text-decoration: underline;"><strong>Sensor Data</strong></span>
                </p>
                <p>. GPS:<input type="gps" name="gps" class="form-control" id="gps" placeholder="{{ gps }}"   required></p>
                <p>. IMU:<input type="imu" name="imu" class="form-control" id="imu" placeholder="{{ imu }}"   required> </p>
            </td>
        </tr>
        <tr>
            
        </tr>
</table>

<table style="margin-left: auto; margin-right: auto; width:650px"  >

	<td style="text-align: center;" >	
		<table style="height: 200px; margin-left: auto; margin-right: auto; width:200px" >
			<tr>
				<td style="text-align: center">
					 
				</td>
				<td colspan="2" style="text-align: center">
					<input id="btnUp" type="image" src="up.png" onclick="Button_onclick('up')" />
				</td>
				<td style="text-align: center">
				  
				</td>
			</tr>
			<tr>
				<td style="text-align: center">
					<input id="btnLeft" type="image" src="left.png" onclick="Button_onclick('left')" />
				</td>
				<td colspan="2" style="text-align: center">
					<input id="ToOrigin" type="image" src="backto0.png" onclick="Button_onclick('toorigin')" />
				</td>
				<td style="text-align: center">
					<input id="btnRight" type="image" src="right.png" onclick="Button_onclick('right')" />
				</td>
			</tr>
			<tr>
				<td style="text-align: center">
				  
				</td>
				<td colspan="2" style="text-align: center">
					<input id="btnDown" type="image" src="down.png" onclick="Button_onclick('down')" />
				</td>
				<td style="text-align: center">
				  
				</td>
			</tr>
		</table>
	</td>
	<td style="text-align: center;" >
         <input id="TakePicture" type="image" src="camera.png"  onclick="Button_onclick('takepicture')" />
    </td>
</table>


< <p>&nbsp;</p>
    <table style="height: 55px; margin-left: auto; margin-right: auto;width=100%" >
        <tbody>
            <tr>
                <td>
                    <h2><span style="text-decoration: underline;"><span style="color: #CFCDCD; text-decoration: underline;">Control the&nbsp;Thymio</span></span></h2>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>


    <table style=" margin-left: auto; margin-right: auto;width=750"  >
        <tbody>
            <tr>
                <td>
                    <table align="center" class="style1">
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <input id="btnFrontThymio" type="button" value="Front" onclick="Button_onclick('front')" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">
                                <input id="btnLeftThymio" type="button" value="Left" onclick="Button_onclick('leftT')" />
                            </td>
                            <td style="text-align: center">
                                <input id="btnRightThymio" type="button" value="Right" onclick="Button_onclick('rightT')" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center">
                                <input id="btnBAckThymio" type="button" value="Back" onclick="Button_onclick('back')" />
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>